.addParent{
    position: relative;
    box-shadow: none;
    overflow: hidden;
    transition: all 0.5s;
  }
  .heartPosition{
    position: absolute;
    top: 94%;
    left: 85%;
  }
  
  button.addHover{
    position: absolute;
    left: 5%;
    top: 100%;
    transition: all 0.5s;
  }
  
  .addParent:hover button.addHover{
    top: 88%;
  }
  
  .addParent:hover{
    box-shadow: 0px 0px 15px #24242469;
  }
.rating-color{
    color:#FDCC0D;
  }
  
  .btnFocus { 
    border: none !important;
  } 
  
